<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	 <key>LSApplicationQueriesSchemes</key>
  	<array>
		<string>freecharge</string>
		<string>gpay</string>
		<string>in.fampay.app</string>
		<string>lotza</string>
		<string>mobikwik</string>
		<string>paytm</string>
		<string>phonepe</string>
		<string>upi</string>
		<string>upibillpay</string>
		<string>whatsapp</string>

		<string>Bandhan</string>
		<string>BHIM</string>
		<string>CanaraMobility</string>
		<string>CentUPI</string>
		<string>com.amazon.mobile.shopping</string>
		<string>com.ausmallfinancebank.aupay.bhimupi</string>
		<string>com.jkbank.bhimjkbankupi</string>
		<string>com.rbl.rblimplicitjourney</string>
		<string>com.syndicate.syndupi</string>
		<string>com.vijayabank.UPI</string>
		<string>cred</string>
		<string>dbin</string>
		<string>freecharge</string>
		<string>gpay</string>
		<string>hdfcnewbb</string>
		<string>imobileapp</string>
		<string>in.cointab.app</string>
		<string>in.fampay.app</string>
		<string>kvb.app.upiapp</string>
		<string>lotza</string>
		<string>mobikwik</string>
		<string>money.bullet</string>
		<string>myairtel</string>
		<string>myJio</string>
		<string>paytm</string>
		<string>payzapp</string>
		<string>phonepe</string>
		<string>truecaller</string>
		<string>ucoupi</string>
		<string>upi</string>
		<string>upibillpay</string>
		<string>whatsapp</string>
		<string>www.citruspay.com</string>
  	</array>
</dict>
</plist>