<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	 <key>LSApplicationQueriesSchemes</key>
  	<array>
		<string>freecharge</string>
		<string>gpay</string>
		<string>in.fampay.app</string>
		<string>lotza</string>
		<string>mobikwik</string>
		<string>paytm</string>
		<string>phonepe</string>
		<string>upi</string>
		<string>upibillpay</string>
		<string>whatsapp</string>
  	</array>
</dict>
</plist>